/*nav-bar*/
nav {
  font-size: 1.5rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  cursor: pointer;
  padding: 0.5rem;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.link:hover {
  border-bottom: 2px solid black;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 3rem;
  margin: 20px;
}

/*about*/
.about,
.error {
  margin: 0 auto;
  max-width: 80%;
}

.goback {
  text-decoration: none;
  color: black;
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
}

/* main section */
.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  max-width: 450px;
  margin: 0 auto;
}

.cocktail-section {
  margin: 20px;
  border: 2px solid black;
  padding: 20px;
  width: 406.8px;
  margin: 40px auto;
}

.cocktail {
  margin: 20px;
  border: 2px solid black;
  padding: 20px;
  width: 406.8px;
}

.imgsrc {
  width: 406.8px;
}

.cocktail-footer {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.footer-name {
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

.footer-glass {
  margin: 0;
  font-size: 1.5rem;
}

.footer-info {
  font-size: 1rem;
  margin-top: 6px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18px;
}

.searchbar {
  width: 500px;
  height: 25px;
  color: black;
}

.btn-primary {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 8px 12px 8px 12px;
}

.btn-primary:hover {
  background-color: rgb(44, 44, 44);
}
